/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 100* from ClientInvoice
SELECT TOP 100* from ClientInvoiceLine
SELECT TOP 100* from Customers
SELECT TOP 100* from Item
SELECT TOP 100* from PO
SELECT TOP 100* from POLine
SELECT TOP 100* from users
SELECT TOP 100* from VendorInvoice
SELECT TOP 100* from VendorInvoiceLine
